# sbt
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# scala-ide specific
.settings
.scala_dependencies
.project
.classpath
.cache

# akka application configuration (use reference.conf instead)
application.conf

# ensime
.ensime
.ensime_cache/

# general files
/*.jar
*.swp
*.class
*.log
*~
.idea
