@(title: String, appId: String, args: Map[String, String])

@*
* Provides the environment and loads a scalajs application.
*@

@main(title){

<div id="scalajs-error" class="alert alert-danger" style="display: none;">
    <p><strong><i class="fa fa-bug"></i> Error! </strong> An uncaught exception occurred in the browser application,
	any information displayed on this website may be corrupt. This is NOT an error that should occur under normal
	operation, it is an indication of a bug in the software.</p>
    <p>The error was: "<span id="scalajs-error-message"></span>"</p>
</div>

<div id="@appId" class="app">
    <div class="loader">
	<i class="fa fa-cog fa-spin"></i>
    </div>
</div>

<script type="text/javascript">
 document.addEventListener("DOMContentLoaded", function(event) {
     try {
	 //root element that will contain the ScalaJS application
	 var root0 = document.getElementById("@appId");

	 //clear any existing content
	 while (root0.firstChild) {
    	     root0.removeChild(root0.firstChild);
	 }

         //run ScalaJS application
         console.info("[@appId] Starting ScalaJS application...")
	 @{appId}().start({
	     root: root0,
	     styleRoot: document.getElementById("app-styles"),
	     baseUrl: "/assets",
	     args: {@args.map{ case (key, value) =>
		 @key: "@value",
	     }}
	 });

     } catch(ex) {
	 //display warning message in case of exception
	 document.getElementById("scalajs-error").style.display = "block";
	 document.getElementById("scalajs-error-message").innerHTML = ex;
	 throw ex;
     }
 });
</script>

<script type="text/javascript" src="/assets/js/mavigator-cockpit-fastopt.js"></script>

}
