@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Mavigator - @title</title>

    <link rel="shortcut icon" href="/assets/images/logo.svg">
    <link rel="stylesheet" media="screen" href="/assets/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/assets/lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
  </head>
  <body>

    @content

    <script type="text/javascript" src="/assets/lib/jquery-2.2.0/jquery.js"></script>
    <script type="text/javascript" src="/assets/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>

  </body>
</html>
