@(title: String)

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Become fullscreen on mobile -->
    <meta name="mobile-web-app-capable" content="yes">

    <title>Mavigator - @title</title>

    <link rel="shortcut icon" href="/assets/images/logo.svg">
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/reset.css">
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/new.css">
  </head>

  <body>

    <main>
      <div id="mcp">mcp</div>
      <div id="mrow">
	<div id="ecam">eicas</div>
	<div id="primary">primary</div>
      </div>
      <div id="fms">mcp</div>
    </main>

  </body>
</html>
