@(app: String)(args: (String, String)*)

@import play.api.Play

<div id="scalajsError" class="alert alert-danger" style="display: none;">
	<p><strong><i class="fa fa-bug"></i> Error! </strong> An uncaught exception occurred in the browser application,
	any information displayed on this website may be corrupt. This is NOT an error that should occur under normal
	operation, it is an indication of a bug in the software.</p>
	<p>The error was: "<span id="scalajsErrorMessage"></span>"
	</p>
</div>

<div id="@app">
	<div class="loader">
		<i class="fa fa-spinner fa-spin"></i>
	</div>
</div>

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
		try {
			var root = document.getElementById('@app')
			var args = {
				@args.map{ case (key, value) => 
					@key: '@value',
				}
			}

			while (root.firstChild) {
    			root.removeChild(root.firstChild);
			}

			Main().main(
				root,
				'@routes.Assets.at("")',
				args
			)
		} catch(err) {
			document.getElementById("scalajsError").style.display = "block";
			document.getElementById("scalajsErrorMessage").innerHTML = err;
			console.error(err)
		}
	}, false);
</script>

@if(Play.isProd(Play.current)) {
	<script type="text/javascript" src="@routes.Assets.at(app + "-opt.js")"></script>
} else {
	<script type="text/javascript" src="@routes.Assets.at(app + "-fastopt.js")"></script>
}