@(socket: String)

@import play.api.Play

@main("Home") {
	
	<div class="container" style="margin-top: 200px">
		<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>Available vehicles </strong>
					</h3>
				</div>
				<div class="panel-body">
					@app("vfd-index")(
						"socketUrl" -> socket
					)
					<i class="fa fa-spinner fa-spin"></i> Listening for heartbeats...
				</div>
			</div>
			@if(!Play.isProd(Play.current)) {
				<div class="alert alert-warning">
					<strong><i class="fa fa-exclamation-triangle"></i> Warning</strong> running in development mode
				</div>
			}
			<div class="text-center">
				<a href="#"><small></small></a>
				<a href="#"><small>Help</small></a>
			</div>
		</div>
	</div>
	
	
}