@()

@instrument(name: String) = {
	@defining("images/instruments/" + name + ".svg") { location =>
		<object id="@name" type="image/svg+xml" data="@routes.Assets.at(location)" width="100%">Error loading image.</object>
	}
}


<div class="row">
	<div class="col-lg-4">
		
	</div>
	<div class="col-lg-4">
		@instrument("attitude")
	</div>
	<div class="col-lg-4">
		@instrument("altitude")
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		
	</div>
	<div class="col-lg-4">
		@instrument("heading")
	</div>
	<div class="col-lg-4">
		@instrument("distance")
	</div>
</div>