@font-face {
    font-family: ds-digi;
    src: url('../fonts/ds-digi.ttf')
}

html {
    height: 100%;
}

body {
    height: 100%;
}

body {
    background-color: #e6e6e6;
}

.loader {
	width: 100%;
	font-size: 50px;
	text-align: center;
}

.table-instrument {
	table-layout: fixed;
	width: 100%;
}

.table-instrument td {
	width: 100%;
}

.heartbeat {
    color: rgba(165, 25, 25, 1);
    animation: heartbeat 2s linear infinite;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    7% {
        transform: scale(1.3);
    }
    14% {
        transform: scale(1);
    }
    21% {
        transform: scale(1.3);
    }
    28% {
        transform: scale(1);
    }
}

